Django==5.1.4
djangorestframework==3.15.2
python-dotenv==1.0.1
django-cors-headers==4.6.0
PyJWT==2.8.0
dj-database-url==2.3.0
psycopg2-binary==2.9.10
whitenoise==6.8.2
gunicorn==21.2.0
PyPDF2==3.0.1
nltk==3.9.1
spacy==3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
pandas==2.2.3
scikit-learn==1.6.0
joblib==1.4.2
kagglehub==0.3.6
python-docx==1.1.2
# Force rebuild
